{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-sm-3">
    	{# {% include 'githut/profile.html.twig' %} #}
    	{{ render (controller('AppBundle:Githut:profile', { 'username': username })) }}
    </div>

    <div class="col-sm-9">
       {# {% include 'githut/repos.html.twig' %} #}
       {{ render(controller('AppBundle:GitHut:repos', { 'username': username})) }}
    </div>
{% endblock %}